
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Règles pour les véhicules
    match /vehicles/{vehicleId} {
      // Tout le monde peut voir les annonces
      allow read: if true;

      // Création : L'utilisateur doit être connecté et son UID doit être dans le champ 'userId' de l'annonce
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;

      // Modification/Suppression : Seul celui qui a créé l'annonce (le propriétaire) peut la changer
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    // Profils utilisateurs
    match /users/{userId} {
      // Tout le monde peut lire les profils
      allow read: if true;
      // Seul le propriétaire du profil peut le modifier
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
